# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.db-shm
*.db-wal
*.opendb
*.db
.vs/Testing/v16/.suo
Client/Client.vcxproj
Client/Client.vcxproj.filters
Client/Debug/Client.Build.CppClean.log
Client/Debug/Client.idb
Client/Debug/Client.log
Client/Debug/Client.pdb
Client/Debug/Client.tlog/CL.command.1.tlog
Client/Debug/Client.tlog/CL.read.1.tlog
Client/Debug/Client.tlog/CL.write.1.tlog
Client/Debug/Client.tlog/Client.lastbuildstate
Client/Debug/Client.tlog/Lib-link.write.1.tlog
Client/Debug/Client.tlog/Lib.command.1.tlog
Client/Debug/Client.tlog/Lib.read.1.tlog
Client/Debug/Client.vcxproj.FileListAbsolute.txt
*.ilk
*.pdb
*.tlog
*.tlog
*.log
*.idb
*.tlog
Client/Debug/Client.tlog/CL.command.1.tlog
*.tlog
*.vcxproj
*.filters
*.tlog
Game/Debug/Game.tlog/CL.read.1.tlog
Game/Debug/Game.tlog/CL.command.1.tlog
